<mat-drawer-container class="main-container">
  <mat-drawer mode="side" opened class="main-nav">
    <div class="title-container">
      <h3 class="title">Questions</h3>
      <mat-icon class="add-icon" (click)="openEditModal()">add</mat-icon>
    </div>
    <mat-list role="list">
      @for (question of questions; track question.id) {
        <mat-list-item class="list-item">
          <div class="category-row">
            <div
                class="category"
                (click)="openQuestion(question.id)"
                (dblclick)="openEditModal(question.id)"
            >{{ question.name }}
            </div>
            <mat-icon class="delete-btn" (click)="deleteItem(question.id, question.name)">close</mat-icon>
          </div>
        </mat-list-item>
      }
    </mat-list>
  </mat-drawer>
  <mat-drawer-content class="main-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
