<form [formGroup]="questionForm" class="form">
  <mat-form-field appearance="outline">
    <mat-label>Question name</mat-label>
    <input
      formControlName="name"
      matInput
      placeholder="Name"
    >
  </mat-form-field>
  <angular-editor
    [config]="editorConfig"
    formControlName="answer"
    class="text-editor"
  ></angular-editor>
  <mat-form-field appearance="outline">
    <mat-label>Position</mat-label>
    <input
      formControlName="position"
      matInput
      placeholder="Position"
    >
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Category</mat-label>
    <mat-select
      formControlName="category"
      placeholder="Category"
    >
      @for (category of categories; track category.id){
        <mat-option [value]="category.id">{{category.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <button
    [disabled]="!questionForm.valid"
    (click)="submitForm()"
    type="button"
    mat-button
  >Submit</button>
</form>
