@import '../../../styles/variables';

.container {
  padding: 15px;
  display: flex;
  flex-direction: column;

  .message {
    padding: 0 10px;
    color: $color-bg-2;
  }

  .btn-box {
    display: flex;
    justify-content: space-between;
  }

  .confirm-btn {
    background: $confirm-button;
    color: $color-bg-2;
  }
}
