@import '../../../styles/variables';

.main-container {
  height: 100vh;

  .main-nav {
    background: #eee;
    width: 150px;
    border-radius: 0;

    .list-item {
      .nav-item {
        transition: color .3s ease;
      }

      &:hover {
        cursor: pointer;
        .nav-item {
          color: $main-blue;
        }
      }
    }
  }
}

  .main-content {
    background: #fff;
  }
