<div class="shell">
  <mat-toolbar class="topbar">
    <a class="brand" routerLink="/questions">
      <mat-icon>school</mat-icon>
      <span>Interview</span>
    </a>
    <nav class="nav">
      @for (item of navItems; track item.url) {
        <a
          mat-button
          class="nav-link"
          [routerLink]="item.url"
          routerLinkActive="active"
        >
          <mat-icon>{{ item.icon }}</mat-icon>
          {{ item.name }}
        </a>
      }
    </nav>
  </mat-toolbar>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
