@import '../../../styles/variables';

.main-container {
  height: 100vh;

  .main-nav {

    width: 250px;
    border-radius: 0;

    &.category-nav {
      background: $category-background;
    }

    &.question-nav {
      background: $question-background;
    }
  }
}

.main-content {
  background: #fff;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .title {
    margin: 10px;
    text-transform: capitalize;
  }

  .add-icon {
    margin-right: 24px;
    transition: color .3s ease;

    &:hover {
      color: $main-blue;
      cursor: pointer;
    }
  }
}

.delete-btn {
  color: #000;
  font-size: 20px;
  transition: color .3s ease;
  padding: 0 10px;

  &:hover {
    color: $delete-red;
    cursor: pointer;
  }
}

.category {
  transition: color .3s ease;
  width: 99%;

  &:hover {
    color: $main-blue;
    cursor: pointer;
  }
}

.category-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list-item {
  &.active {
    background-color: $active-item;
  }
}
