<mat-drawer-container class="main-container">
  <mat-drawer mode="side" opened class="main-nav {{presentationItem}}-nav">
    <div class="title-container">
      <h3 class="title">{{ presentationItem }}</h3>
      <mat-icon class="add-icon" (click)="openEditModal()">add</mat-icon>
    </div>
    <mat-list role="list">
      @for (item of items$ | async; track item.id; let index = $index) {
        <mat-list-item class="list-item"
            [ngClass]="{'active':
              ((activeCategoryId$ | async) === item.id && presentationItem === PresentationItem.Category)
              || ((activeQuestionId$ | async) === item.id && presentationItem === PresentationItem.Question)
            }">
          <div class="category-row">
            <div
              class="category"
              (click)="navigate(item.id)"
              (dblclick)="openEditModal(item.id)"
            >
            @if (presentationItem === PresentationItem.Question) {
              <span>{{index + 1}}. </span>
            }
            {{ item.name }}
            </div>
            <mat-icon class="delete-btn" (click)="deleteItem(item.id, item.name)">close</mat-icon>
          </div>
        </mat-list-item>
      }
      <!-- TODO: dodac kategorie pusta-->
      <!--    <mat-list-item>-->
      <!--    </mat-list-item>-->
    </mat-list>
  </mat-drawer>
  <mat-drawer-content class="main-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
