@import '../../../styles/variables';

.main-container {
  height: 100vh;

  .main-nav {
    background: $color-bg-3;
    width: 250px;
    border-radius: 0;

    &.category-nav {
      background: $color-bg-2;
    }

    &.question-nav {
      background: $color-bg-3;
    }
  }
}

.main-content {
  background: $color-bg-4;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .title {
    color: $font-color-1;
    margin: 10px;
    text-transform: capitalize;
  }

  .add-icon {
    margin-right: 24px;
    transition: color .3s ease;

    &:hover {
      color: $hover-item;
      cursor: pointer;
    }
  }
}

.delete-btn {
  color: $font-color-2;
  font-size: 20px;
  transition: color .3s ease;
  padding: 0 10px;

  &:hover {
    color: $delete-red;
    cursor: pointer;
  }
}

.category {
  transition: color .3s ease;
  width: 99%;
  color: $font-color-2;

  &:hover {
    color: $hover-item;
    cursor: pointer;
  }
}

.category-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list-item {
  @include active-element-transition;
  &.active {
    @include active-element;
  }
}
