<h2 class="title">{{presentationItem}}</h2>
<button class="create-btn" mat-raised-button (click)="openEditModal()"><mat-icon>add</mat-icon></button>
<div class="categories-container">
  @for (item of items; track item.id) {
    <div class="row">
      <div class="category" (click)="navigate(item.id)">{{ item.name }}</div>
      <button mat-raised-button class="delete-btn" (click)="deleteItem(item.id, item.name)"><mat-icon>delete</mat-icon></button>
    </div>
  }
// TODO: dodac kategorie pusta
<!--  @if (presentationItem === PresentationItem.Category) {-->
<!--    <div class="row">-->
<!--      <div class="category" (click)="navigate(null)">Empty category</div>-->
<!--    </div>-->
<!--  }-->
</div>
