<mat-drawer-container class="main-container">
  <mat-drawer mode="side" opened class="main-nav">
    <h3 class="title">Categories</h3>
    <mat-list role="list">
      @for (category of categories; track category.id) {
        <mat-list-item class="list-item">
          <div class="category-row">
            <div
              class="category"
              (click)="openCategory(category.id)"
              (dblclick)="openEditModal(category.id)"
            >{{ category.name }}
            </div>
            <mat-icon class="delete-btn" (click)="deleteItem(category.id, category.name)">close</mat-icon>
          </div>
        </mat-list-item>
      }
      <!-- TODO: dodac kategorie pusta-->
      <!--    <mat-list-item>-->
      <!--    </mat-list-item>-->
    </mat-list>
  </mat-drawer>
  <mat-drawer-content class="main-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
