@import '../../../styles/variables';

.container {
  padding: 10px;
  background: $color-bg-4;

  .name {
    color: $font-color-1;
    margin:  0 0 10px;
  }

  .btn-group {
    .btn {
      margin-right: 5px;
      color: #000;
      padding: 0 15px;

      mat-icon {
        font-size: 20px;
        margin: 0;

      }
    }
  }

  .answer {
    color: $font-color-1;
  }
}
