@import './app/styles/variables';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: $font-color-1;
  background: $color-bg-1;
}

app-root {
  display: block;
  height: 100%;
}
